---
import Layout from '../layouts/Layout.astro';
import '../styles/sem-tut.css';
import '../styles/main.css';
---

<Layout title="YT Playlist Zen">
    <noscript style="background-color:red;padding: 2rem; display:block; text-align: center; color: #fff; position: relative;">Dear User, Looks like you have disabled JavaScript on your browser, please enable it to be able to use our site!</noscript>
    <div id=container>
        <div id=navigator>
            <div id=content-list>
                <ul id=items>
                </ul>
            </div>
        </div>
        <div id=video-content>
            <div id=video-header>
                <div id="nav_menu" onclick="collapse()">
                    <i class="icon-menu" title="Toggle Sidebar (Esc)"></i>
                </div>
                <div id="video-title">
                </div>
            </div>
            <div id=video>
                <iframe id=video-fr src="https://youtube.com/embed/0000000?autoplay=1&iv_load_policy=3&rel=0&showinfo=0&showsearch=0&autohide=1&enablejsapi=1" height="90%" width=98% frameborder="0" allowfullscreen=""></iframe>
                <div id="player">
                    <button title="Previous (P)" id="previous"><i class="icon-previous"></i> Previous</button>
                    <button title="Next (N)" id="next">Next <i class="icon-next"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id=ui-dismiss></div>
</Layout>

<script>
    import { $store } from '../store.js';

    function clicked(element) {
        var item = document.getElementById(this.id);

        const videoId = item.getAttribute("data-id");
        const videoTitle = item.getAttribute("data-name");
        const videoIndex = parseInt(item.getAttribute("data-index"));
        const videos = $store.get()[0].videos;

        setVideoTitle(videoTitle);
        setVideoSrc(videoId);
        handleNavigation(videoIndex, videos.length);
        
        var list = document.getElementById("content-list");
        for (let i = 0; i < list.children[0].children.length; i++) {
            list.children[0].children[i].className = "";
        }
        item.className = "selected";

        if($(window).width() <= 800){
            $("#navigator").hide("slide",500);
            $("#ui-dismiss").hide("fade",500);
        }
        // localStorage.setItem("index", videoIndex);
        $store.set([Object.assign($store.get()[0], {"currentIndex": videoIndex})]);
    }

    async function fetchPlaylist(){
        console.log($store.get()[0]);
        const feedUrl = 'https://www.youtube.com/feeds/videos.xml?playlist_id=' + $store.get()[0].playlistId;
        const url = "https://cors-anywhere.mittaludit98.workers.dev/" + feedUrl;
        const response = await fetch(url).then(response => response.text()).then(
            data=>{
                let parser = new DOMParser();
                let xmlDoc = parser.parseFromString(data, "application/xml");
                const entries = xmlDoc.getElementsByTagName('entry');
                var output = [];
                for (let i = 0; i < entries.length; i++) {
                    const videoId = entries[i].getElementsByTagName('yt:videoId')[0].childNodes[0].nodeValue;
                    const title = entries[i].getElementsByTagName('title')[0].childNodes[0].nodeValue;
                    output.push({'name': title, 'watchId': videoId});
                }
                
                $store.set([Object.assign($store.get()[0], {"videos": output})]);
            }
        );
    }
    
    function loadVideos(){
        const videos = $store.get()[0].videos;
        var name = document.querySelector(".selected");
        var video = document.getElementById("video-fr");
        var videoTitle = document.getElementById("video-title");
        var items = document.getElementById("items");
        for (var i = 0; i < videos.length; i++) {
            if (i === 0) {
                document.title = videos[i].name;
                videoTitle.innerText = videos[i].name;

                $store.set([Object.assign($store.get()[0], {"currentIndex": i})]);
                items.innerHTML += `
                <li id="li${i}" data-index="${i}" data-name="${videos[i].name}" data-id="${videos[i].watchId}" class="selected">
                    ${videos[i].name}
                </li>
                `
            } else {
                items.innerHTML += `
                    <li id="li${i}" data-index="${i}" data-name="${videos[i].name}" data-id="${videos[i].watchId}">
                        ${videos[i].name}
                    </li>`;
            }
        }
        document.querySelectorAll("#items > li").forEach(function(e){
            e.addEventListener("click", clicked);
        })
        var link = video.src;
        var final = link.split("embed")[0] + "embed/" + videos[0].watchId + "?" + link.split("embed")[1].split("?")[1];
        video.src = final;
    }


    async function pageLoad(){
        var _ = await fetchPlaylist(); 
        loadVideos();

        const nextButton = document.querySelector("#next");
        const prevButton = document.querySelector("#previous");
        
        nextButton.addEventListener("click", function(){
            navigate(1)
        });

        prevButton.addEventListener("click", function(){
            navigate(-1);
        });
    }


    function navigate(moveDirection){
        var index = $store.get()[0].currentIndex;
        var newIndex = index + parseInt(moveDirection);

        var listItem = document.querySelector(".selected");
        const videos = $store.get()[0].videos;

        listItem.className = "";

        if (moveDirection === 1){
            listItem.nextElementSibling.className = "selected";
        }
        else if(moveDirection === -1){
            listItem.previousElementSibling.className = "selected";
        }

        setVideoTitle(videos[newIndex].name);
        document.querySelector("li.selected").scrollIntoView({ block: 'start',  behavior: 'smooth' });
        handleNavigation(newIndex, videos.length);
        $store.set([Object.assign($store.get()[0], {"currentIndex": newIndex})]);
        setVideoSrc(videos[newIndex].watchId);
    }

    function setVideoTitle(title){
        var heading = document.getElementById("video-title");
        heading.innerText = title;
        document.title = title;
    }

    function setVideoSrc(videoId){
        var video = document.getElementById("video-fr");
        video.src = video.src.split("embed")[0] + "embed/" + videoId + "?" + video.src.split("embed")[1].split("?")[1];
    }

    function handleNavigation(currentPage, totalPages){
        const nextButton = document.getElementById("next");
        const prevButton = document.getElementById("previous");

        if (currentPage === 0){
            nextButton.style.visibility = "visible";
            prevButton.style.visibility = "hidden";
        }
        else if(currentPage === totalPages - 1){
            nextButton.style.visibility = "hidden";
            prevButton.style.visibility = "visible";
        }
        else{
            nextButton.style.visibility = "visible";
            prevButton.style.visibility = "visible";
        }

    }

    function collapse() {
    var iframe = document.getElementById("video-fr").contentWindow;
    if($(window).width() <= 800){
        iframe.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
        $("#navigator").toggle("slide");
        $("#ui-dismiss").toggle("fade");
        $("#ui-dismiss").click(function () {
            $("#navigator").hide("slide");
            $("#ui-dismiss").hide("fade");
            iframe.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
    });
        $("body").css("overflow","hidden");
        $("#items:last-child").css("padding-bottom","10px");
    }
    else{
        $("#navigator").toggle("fold");
    }
}

    pageLoad();

</script>
